@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background-color: #f8f8ff
}

header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #5a5c78;
    font-weight: 1000;
    font-size: 2.5em;
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer a {
    color: #5a5c78;
    height: 1em;
    position: absolute;
    top: calc(100vh - 2em);
    width: 100%;
    text-align: center;
}

.todolist {
    max-width: 1000px;
    margin: 0 auto;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-button {
    background-color: #6370f0;
    height: 2.5em;
    width: 6.5em;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.task-filter {
    background-color: #cccddf;
    border: none;
    width: 6.5em;
    height: 2.5em;
    border-radius: 5px;
    padding-left: 0.75em;
}

.tasks-wrapper {
    background-color: #ecedf6;
    padding: 1em;
    padding-bottom: 0.1px;
    border-radius: 10px;
    margin-top: 10px;
}

.task {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1em;
    min-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.buttons {
    width: 5em;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border: none;
    border-radius: 5px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-info {
    width: 82.5%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.task-completion-checkbox {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.task-name {
    font-size: 1em;
    font-weight: 600;
    color: #474747;
}

.task-date {
    font-size: 0.75em;
    font-weight: 400;
    color: #474747;
}

.task-edit-name {
    border: none;
    border-bottom: 1px #474747 dashed;
    font-size: 1em;
    font-weight: 600;
    color: #474747;
    outline: none;
}

.task-edit-deadline {
    font-size: 0.85em;
    font-weight: 400;
    color: #474747;
}

.task-edit-deadline input {
    font-weight: 400;
    color: #474747;
    border: none;
    background-color: transparent;
    outline: none;
}

.task-tag {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    border-radius: 0.5em;
    padding: 0.25em;
    display: inline-block;
    margin: 2px;
    /* border: 2px solid color-mix(in srgb, red 50%, white 50%); */
}

.task-tags {
    /* background-color: red; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 33%;
}

.task-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-label-wrapper {
    width: 66%;
}

.task-tag-gray {
    --backgroundColor: #dce3e8;
    --foregroundColor: #3c5261;
}

.task-tag-blue {
    --backgroundColor: #d3e3f9;
    --foregroundColor: #1353a8;
}

.task-tag-red {
    --backgroundColor: #fadcd9;
    --foregroundColor: #a51f13;
}

.task-tag-green {
    --backgroundColor: #c7ebd1;
    --foregroundColor: #16694f;
}
.task-tag-yellow {
    --backgroundColor: #f8ef9c;
    --foregroundColor: #756119;
}

.task-tag-aqua {
    --backgroundColor: #beebe7;
    --foregroundColor: #0b568b;
}

.task-tag-violet {
    --backgroundColor: #dddff9;
    --foregroundColor: #3f49b2;
}

.task-tag-purple {
    --backgroundColor: #eadcfc;
    --foregroundColor: #733bb0;
}

.task-tag-pink {
    --backgroundColor: #f7daed;
    --foregroundColor: #981b77;
}