@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

::selection {
    background-color: #eadcfc;
    color: #310072;
}

body {
    background-color: #f8f8ff
}

header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #5a5c78;
    font-weight: 1000;
    font-size: 2.5em;
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: none;
}

footer a {
    color: #5a5c78;
    height: 1em;
    position: absolute;
    top: calc(100vh - 2em);
    width: 100%;
    text-align: center;
    user-select: none;
}

.todolist {
    max-width: 1000px;
    margin: 0 auto;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.add-task-button {
    background-color: #6370f0;
    height: 2.5em;
    width: 6.5em;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.task-filter {
    background-color: #cccddf;
    border: none;
    width: 6.5em;
    height: 2.5em;
    border-radius: 5px;
    padding-left: 0.75em;
}

.tasks-wrapper {
    background-color: #ecedf6;
    padding: 1em;
    padding-bottom: 0.1px;
    border-radius: 10px;
    margin-top: 10px;
}

.task {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.task-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-settings {
    width: 75%;
    margin-left: 12.5%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    width: 5em;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.buttons button {
    border: none;
    border-radius: 5px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-info {
    width: calc(100% - 7em);
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.task-completion-checkbox {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.task-name {
    font-size: 1em;
    font-weight: 600;
    color: #474747;
}

.task-name-done {
    text-decoration: line-through;
    color: gray;
}

.task-date {
    font-size: 0.75em;
    font-weight: 400;
    color: #474747;
}

.task-edit-name {
    border: none;
    border-bottom: 1px #474747 dashed;
    font-size: 1em;
    font-weight: 600;
    color: #474747;
    outline: none;
}

.task-edit-deadline {
    font-size: 0.85em;
    font-weight: 400;
    color: #474747;
}

.task-edit-deadline input {
    font-weight: 400;
    color: #474747;
    border: none;
    background-color: transparent;
    outline: none;
}

.task-tag {
    background-color: var(--backgroundColor);
    border: 2px solid var(--outlineColor);
    color: var(--foregroundColor);
    border-radius: calc(2em / 3);
    padding: 0.5em;
    display: inline-block;
    margin: 2px;
    user-select: none;
}

.task-tags {
    width: 33%;
    display: flex;
    flex-direction: row-reverse;
}


.task-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-label-wrapper {
    width: 66%;
}

.task-tag-gray-selected {
    --outlineColor: #dce3e8;
    --foregroundColor: #3c5261;
    --backgroundColor: #e8edf0;
}

.task-tag-blue-selected {
    --outlineColor: #d3e3f9;
    --foregroundColor: #1353a8;
    --backgroundColor: #e3f4ff;
}

.task-tag-red-selected {
    --outlineColor: #fadcd9;
    --foregroundColor: #a51f13;
    --backgroundColor: #f8e5e4;
}

.task-tag-green-selected {
    --outlineColor: #c7ebd1;
    --foregroundColor: #16694f;
    --backgroundColor: #d4fade;
}

.task-tag-yellow-selected {
    --outlineColor: #f8ef9c;
    --foregroundColor: #756119;
    --backgroundColor: #ffffdd;
}

.task-tag-aqua-selected {
    --outlineColor: #beebe7;
    --foregroundColor: #0b568b;
    --backgroundColor: #d9f9ff;
}

.task-tag-violet-selected {
    --outlineColor: #dddff9;
    --foregroundColor: #3f49b2;
    --backgroundColor: #edeffe;
}

.task-tag-purple-selected {
    --outlineColor: #eadcfc;
    --foregroundColor: #733bb0;
    --backgroundColor: #fbecff;
}

.task-tag-pink-selected {
    --outlineColor: #f7daed;
    --foregroundColor: #981b77;
    --backgroundColor: #fee0f4;
}

.task-settings .task-tag:hover {
    border-color: var(--hoverColor);
}

.task-settings .task-tag {
    transition: 0.25s color, 0.25s background-color, 0.25s border-color;
}

.task-tag-gray-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #3c5261;
    --backgroundColor: transparent;
    --hoverColor: #dce3e8;
}

.task-tag-blue-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #1353a8;
    --backgroundColor: transparent;
    --hoverColor: #d3e3f9;
}

.task-tag-red-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #a51f13;
    --backgroundColor: transparent;
    --hoverColor: #fadcd9;
}

.task-tag-green-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #16694f;
    --backgroundColor: transparent;
    --hoverColor: #c7ebd1;
}

.task-tag-yellow-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #756119;
    --backgroundColor: transparent;
    --hoverColor: #f8ef9c;
}

.task-tag-aqua-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #0b568b;
    --backgroundColor: transparent;
    --hoverColor: #beebe7;
}

.task-tag-violet-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #3f49b2;
    --backgroundColor: transparent;
    --hoverColor: #dddff9;
}

.task-tag-purple-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #733bb0;
    --backgroundColor: transparent;
    --hoverColor: #eadcfc;
}

.task-tag-pink-unselected {
    --outlineColor: #a7b8c4;
    --foregroundColor: #981b77;
    --backgroundColor: transparent;
    --hoverColor: #f7daed;
}